<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/" data-i18n="header.title">DEV. Ruta de los Colonos</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#" class="flag" data-lang="en"><img src="public/img/en.png" alt="flag england"></a></li>
			<li><a href="#" class="flag" data-lang="es"><img src="public/img/es.png" alt="flag chile"></a></li>
			<li><a href="#" class="flag" data-lang="fr"><img src="public/img/fr.png" alt="flag france"></a></li>
<!-- 			<li><a href="#" class="flag" data-lang="gr"><img src="public/img/gr.png" alt="flag germany"></a></li> -->
		</ul>
	</div>
</div>
