		<div class="col-md-7">
			<div class="group-wrapper">
				<div class="btn-group categories-radio" data-toggle="buttons">
					<label class="btn btn-default">
						<input type="radio" name="category" value="0"><span data-i18n="search.all.f">Todas</span>
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="1"><span data-i18n="search.category.accomodation">Alojamiento</span>
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="2"><span data-i18n="search.category.food">Comida</span>
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="3"><span data-i18n="search.category.culture">Cultura</span>
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="4"><span data-i18n="search.category.nature">Naturaleza</span>
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="5"><span data-i18n="search.category.aventure">Aventura</span>
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="6"><span data-i18n="search.category.entertainment">Entretencion</span>
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="7"><span data-i18n="search.category.owner">Propiedades</span>
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="8"><span data-i18n="search.category.products">Productos</span>
					</label>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="form-wrapper">
				<form class="form-inline" role="form">
					<div class="form-group">
						<select class="form-control city-select">
							<option value="0" data-i18n="search.city.all">Ciudad...</option>
							<option value="1">Frutillar</option>
							<option value="2">Llanquihue</option>
							<option value="3">Puerto Varas</option>
							<option value="4">Puerto Octay</option>
							<option value="5">Puerto Montt</option>
						</select>
					</div>
					<div class="form-group search-type-container">
						<select class="form-control type-select">
						</select>
					</div>
					<div class="form-group">
						<label class="sr-only" for="keywords" data-i18n="search.text.keywords">keywords...</label>
						<input type="text" class="form-control keywords" id="keywords" placeholder="...">
					</div>
				</form>
			</div>
		</div>
