.navbar {
	margin-bottom: 0px;
}

.navbar	.navbar-right .flag {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 5px;
}

.bs-callout {
	margin: 20px 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 3px solid #eee;
}

.bs-callout p {
	margin: 0;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout-warning {
	background-color: #fcf8f2;
	border-color: #f0ad4e;
}

.bs-callout-warning h4 {
	color: #f0ad4e;
}


#place-show h1 {
	font-size: 32px;
	margin-top: 70px;
}

#place-show blockquote {
	font-size: 14px;
}

#place-show .thumbs {
	padding-left: 30px;
	margin-top: 15px;
}

#place-show .address {
	padding-left: 30px;
	margin-top: 15px;
}

#place-show address {
	margin-bottom: 10px;
}

#place-show .flexslider {
}

#vote-index .code-form {
	padding-top: 50px;
	text-align: center;
}

#vote-index .code-form div {
	width: 200px;
	margin: auto;
}

#vote-index .code-form button {
	margin-top: 20px;
}

.code-form-container {
	margin-top: 22px;
	margin-bottom: 22px;
}

.vote-form {
	display: none;
	margin-bottom: 50px;
}

.vote-form div.error {
	margin-top: 10px;
}

.vote-form .star {
	color: red;
}