		<div class="col-md-7">
			<div class="group-wrapper">
				<div class="btn-group categories-radio" data-toggle="buttons">
					<label class="btn btn-default">
						<input type="radio" name="category" value="0"> All
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="1"> Accomodation
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="2"> Food
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="3"> Culture
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="4"> Nature
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="5"> Aventure
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="6"> Entertainement
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="7"> Owner
					</label>
					<label class="btn btn-default">
						<input type="radio" name="category" value="8"> Products
					</label>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="form-wrapper">
				<form class="form-inline" role="form">
					<div class="form-group">
						<select class="form-control city-select">
							<option value="0">All</option>
							<option value="1">Frutillar</option>
							<option value="2">Llanquihue</option>
							<option value="3">Puerto Varas</option>
							<option value="4">Puerto Octay</option>
							<option value="5">Puerto Montt</option>
						</select>
					</div>
					<div class="form-group search-type-container">
						<select class="form-control type-select">
						</select>
					</div>
					<div class="form-group">
						<label class="sr-only" for="keywords">keywords...</label>
						<input type="text" class="form-control keywords" id="keywords" placeholder="keywords...">
					</div>
				</form>
			</div>
		</div>
